{# empty Twig template #}
<h1>SOY UN PARTIAL INCLUIDO EN TU VISTA</H1>

{{ random(["Esto puede que salga ", "O puede que sea esto", "Es que el random() es asín"])}}

{{generateTable(productos)|raw}}



